{% load static bulma_tags avatar_tags %}

<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top is-full-height">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Twittor{% endblock title %}</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="stylesheet" href="{% static 'bulma/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body class="is-full-height">
  <nav class="navbar is-fixed-top has-background-light" role="navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Twittor</a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
          {% if user.is_authenticated %}
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-primary" href="{% url 'tweet' %}">
                <span>Tweet</span>
              </a>
            </div>
          </div>

          <a class="navbar-item">
            <span>{{ user.username }}</span>
            <figure class="profile-icon image is-30x30">
              {% avatar user 28 class="is-rounded" %}
            </figure>
          </a>

          <a class="navbar-item" href="{% url 'logout' %}">
            <span class="icon">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span>Log Out</span>
          </a>
          {% else %}
          <div class="buttons">
            <a class="button is-info" href="{% url 'register' %}">Register</a>
            <a class="button is-light" href="{% url 'login' %}">Log In</a>
          </div>
          {% endif %}
    </div>
    </div>
  </nav>

  <main class="container is-full-height">
    {% block content %}{% endblock content %}
  </main>

  <script type="text/javascript" src="{% static 'app.js' %}"></script>
  <script>window.userAuthenticated = '{{ user.is_authenticated }}' == 'True'</script>
  {% block scripts %}{% endblock scripts %}
</body>

</html>
