{% extends 'base.html' %}

{% block title %}Tweet{% endblock %}

{% block content %}
<div class="container tweet-list">
  <form method="post" class="column is-half is-offset-one-quarter">
    {% csrf_token %}
    <div class="columns has-content-vertically-centered">
      <div class="column is-four-fifths">
      <textarea id="tweet-content" name="tweet_content" class="textarea" maxlength="140" rows="2"
      placeholder="Tweet"></textarea>
      </div>
      <div class="column is-one-quarter" align="center">
        <button id="tweet-submit" type="submit" class="button is-primary" disabled="disabled">Tweet</button>
      </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>handleTweetButton()</script>
{% endblock %}
