{% extends 'base.html' %}
{% load twittor_tags %}

{% block title %}Feed{% endblock %}

{% block content %}
<div class="columns is-centered">
  <div class="column tweet-list is-half">
    {% for tweet in tweets %}
      {% render_tweet tweet %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>handleLikesAndRetweets()</script>
{% endblock %}
