{% load avatar_tags twittor_tags %}
{% liked tweet user as tweet_liked %}
{% retweeted tweet user as tweet_retweeted %}

<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        {% avatar tweet.author 64 class='is-rounded' %}
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{% formatted_name tweet.author %}</strong>
          <small>@{{ tweet.author.username }}</small>
          <small>• {{ tweet.formatted_posted_on }}</small>
          <br>
          {{ tweet.content }}
        </p>
      </div>
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item tweet-btn {% if tweet_retweeted %}toggled{% endif %}" data-href="{{ tweet.retweet_url }}">
            <span class="icon is-small">
              <i class="fas fa-retweet" aria-hidden="true"></i>
            </span>
            <span class="count">{{ tweet.retweets.count }}</span>
          </a>
          <a class="level-item tweet-btn {% if tweet_liked %}toggled{% endif %}" data-href="{{ tweet.like_url }}">
            <span class="icon is-small">
              <i class="fas fa-heart" aria-hidden="true"></i>
            </span>
            <span class="count">{{ tweet.likes.count }}</span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>
