{% extends 'base.html' %}
{% load bulma_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="coulmns is-full-height has-content-vertically-centered">
  <form method="post" class="column is-one-third is-offset-one-third">
    {% csrf_token %}
    {{ form|bulma }}
    <button type="submit" class="button is-primary">Login</button>
  </form>
</div>
{% endblock %}
