.has-content-vertically-centered {
  display: flex;
  align-items: center;
}

.is-full-height {
  height: 100%;
}

.profile-icon {
  margin-left: 10px;
}

.tweet-list {
  padding-top: 2%;
}

.level-item span {
  margin-left: 2px;
  margin-right: 2px;
}

a.tweet-btn {
  color: hsl(0, 0%, 86%);
}

a.tweet-btn.toggled {
  color: hsl(204, 86%, 53%);
}

a.tweet-btn:hover {
  color: hsl(0, 0%, 29%);
}
