{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}
<div class="coulmns is-full-height has-content-vertically-centered">
  <form method="post" class="column is-half is-offset-one-quarter">
    {% csrf_token %}
    {{ form|bulma }}
    <button type="submit" class="button is-primary">Register</button>
  </form>
</div>
{% endblock %}
